# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Backend
backend/node_modules/
backend/data/files/*.json

# Keep Git LFS files - don't ignore them!
# *.png
# *.jpg
# *.jpeg
# *.mp4
# *.zip
